# Simple workflow for deploying static content to GitHub Pages
name: Test

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master", "qa"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: "test"
  cancel-in-progress: false

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          cache: pip
          cache-dependency-path: pyproject.toml
          python-version-file: pyproject.toml

      - name: Install Python dependencies
        run: pip install --disable-pip-version-check -e .[test]

      - name: Run tests
        run: pytest --cov=src --cov-report=xml tests

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
